<header class="site-header">

  <!-- <div class="wrapper"> -->
    <div class="nav left">
        <div>
            <br>
            <pre>
            void hello() {
                System.out.print("Hello World!");
            }</pre>
            <br>
        </div>
        <br>
        <div class="myLogo">
            <a class="site-title" href="{{ site.baseurl }}/"><span class="myLogo">{% include myLogo.svg %}</span></a>
        </div>
        <br>
    </div>

    <div class="nav right">
        <nav>
            <a href="/projects">projects</a>
            <a href="/posts">posts</a>
            <a href="/contact">contact</a>
            <a href="/resume">resume</a>
        </nav>
    </div>

</header>
