---
---

@charset "utf-8";

$font-family: 'Droid Serif', serif;
$font-size:   1em;
$font-weight: 400;
$small-font-size:  $font-size * 0.875;
$line-height: 1.4;

$margin:      150px;
$spacing:     96px;
$spacing-small: 48px;

$on-laptop: 900px;
$on-phone:  500px;

// Colors for nav buttons
// background-color: #cf3300;
// background-color: #008000;
// background-color: #ffaf00;
// background-color: #006fb1;

// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
    background: #bbb;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    line-height: $line-height;
    font-family: $font-family;
    font-size: $font-size;
    @include media-query($on-laptop) {
        max-width: $on-laptop;
    }
    @include media-query($on-phone) {
        max-width: $on-phone;
    }
}

.main {
    width: 80%;
    min-height: 600px;
    min-width: 600px;
    margin: auto;
    padding: $spacing-small;
    @include media-query($on-laptop) {
        width: 650px;
        padding: $spacing-small * 0.75;
        font-size: $font-size * 1.4;
    }
    @include media-query($on-phone) {
        width: 320px;
        padding: $spacing-small * 0.5;
        font-size: $font-size * 1.6;
    }
}

header {
    text-align: center;
    padding-top: $spacing-small * 0.5;
    padding-bottom: $spacing-small * 0.75;
}
header h1 { font-size: $font-size * 2.5;
    @include media-query($on-laptop) {
        font-size: $font-size * 2;
    }
    @include media-query($on-phone) {
        font-size: $font-size * 2;
    }

}
header h3 { font-size: $font-size * 1.8;
    @include media-query($on-laptop) {
        font-size: $font-size * 1.5;
    }
    @include media-query($on-phone) {
        font-size: $font-size * 1.5;
    }
}

a {
    text-decoration: none;
    &:hover { font-weight: bold; }
}
a.home-nav {
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 240px;
    border: 4px solid black;
    background: #9cbdde;
    font-size: $font-size * 3;
    text-decoration: none;
    text-align: center;
    line-height: 240px;
    text-transform: uppercase;
    color: black;

    @include media-query($on-laptop) {
        width: 250px;
        height: 175px;
        border-radius: 50%;
        font-size: $font-size * 1.5;
        line-height: 175px;
    }
}
a.home-nav:hover { background: #eee; font-weight: bold; }

a.nav {
    display: inline-block;
    margin: 0 auto;
    width: $spacing-small * 3;
    height: 40px;
    border: 2px solid black;
    background: #9cbdde;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: black;

    @include media-query($on-laptop) {
        width: $spacing-small * 2;
        height: 30px;
        font-size: $font-size * 0.75;
        line-height: 30px;
    }
    @include media-query($on-phone) {
        width: $spacing-small * 2.25;
        height: 32px;
        font-size: $font-size * 0.85;
        line-height: 32px;
    }
}
a.nav:hover { background: #eee; }

.section {
    //width: 80%;
    min-width: 400px;
    margin: auto;
    padding: $spacing-small;
    text-align: justify;
    @include media-query($on-laptop) {
        padding: $spacing-small * 0.25;
    }
    @include media-query($on-phone) {
        min-width: 260px;
        padding: 0;
    }
}
.section h2 {
    @include media-query($on-laptop) {
        font-size: $font-size * 1.75;
    }
    @include media-query($on-phone) {
        font-size: $font-size * 1.5;
    }
}

.post-list {
    list-style-type: none;
    text-align: center;
}
.post-list h2 {
    margin: 0;
}
.post-list hr {
    width: 240px;
}

#social-media {
    margin: 0 auto;
    text-align: center;
}
.icon {
    > svg {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: black;
        }
    }
}

.copy {
    margin: auto;
    text-align: center;
    @include media-query($on-laptop) {
        padding-bottom: $spacing-small * 0.75;
        font-size: $font-size * 0.7;
    }
    @include media-query($on-phone) {
        padding-bottom: $spacing-small * 0.5;
        font-size: $font-size * 0.85;
    }
}
