---
layout: default
---
<header>
    <h1>Nathaniel Brown</h1>
    <h3>Software Engineer</h3>
    <br>
    <nav>
        <a href="/" class="nav">Home</a>
        <a href="/about" class="nav">About</a>
        <a href="/projects" class="nav">Portfolio</a>
        <a href="/blog" class="nav">Blog</a>
    </nav>
</header>
<hr>
<br>
<section class="section">
    <p>
        My name is Nathaniel Brown and I'm a software engineer. I'm a computer informations systems major from Georgia State University in Atlanta, GA. I love sports &amp; movies, and I'm really passionate about coding. This is why I made a blog to discuss the various topics I'm learning and provide tutorials to others that want to learn new technologies too! You can view <a href="/projects">my projects here</a> or check out <a href="/blog">my blog here.</a> <em>(need a direct link to tutorials instead of entire blog)</em>
    </p>
    <p>If you have any questions, would like to contribute, or just want to chat, you can connect with me on social media!</p>
    <!-- Add social media buttons to span here -->
</section>
<br>
