---
layout: default
---
<div class="about-img">

    <strong><h1 style="font-family:Verdana, sans-serif">Nathaniel Brown</h1></strong>

    <img src="/assets/img/clean-glasses.jpg" alt="Blazer &amp; Shirt w/ Glasses, No Tie">

</div>

<div class="section">
    <h2><strong><span class="section-title">About Me:</span></strong></h2>

    {{ content }}

</div>
<div class="section">
    <h2><strong><span class="section-title">Contact Me:</span></strong></h2>

    <ul>
        <li>Email:      <a href="mailto:ngbrown11@gmail.com">ngbrown11@gmail.com</a></li>
        <li>Phone:      <a href="tel:+1-914-310-0020">914-310-0020</a></li>
        <li>Github:     <a href="https://github.com/ngbrown11">ngbrown11</a></li>
        <li>LinkedIn:   <a href="https://linkedin.com/in/nathaniel-brown-597465b2">Nathaniel Brown</a></li>
        <li>Twitter:    <a href="https://twitter.com/Mr_Innovative">mr_innovative</a></li>
    </ul>

    <!-- <p></p> -->
</div>
