---
layout: default
---
<header>
	<h1>Nathaniel Brown</h1>
	<h3>Software Engineer</h3>
	<br>
	<nav>
		<a href="/" class="nav">Home</a>
		<a href="/about" class="nav">About</a>
		<a href="/projects" class="nav">Portfolio</a>
		<a href="/blog" class="nav">Blog</a>
	</nav>
</header>
<hr>
<br>
<article class="post section">
	<section class="post-content">
		{{ content }}

		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
			</li>
			{% endfor %}
		</ul>

		<p class="section-post-links">subscribe <a style="font-size:$font-size !important;margin-top:5px;" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
	</section>
</article>
