<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	{% seo %}

	<body>
		<div class="main">
			{{ content }}

			<hr>
		    <br>
			<div id="social-media">
		        <a href="https://github.com/ngbrown11" target="_blank"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
		        <a href="https://twitter.com/Mr_Innovative" target="_blank"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
		        <a href="https://linkedin.com/in/nathaniel-brown-597465b2" target="_blank"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a>
		    </div>
			<div class="copy"><span>Copyright &copy;2017 Nathaniel Brown</span></div>
		</div>
	</body>

</html>
