<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="resume_page_stylesheet.css"/>

		<title></title>
	</head>
	<body>
		<div id="header">
			<p id="name">Nathaniel Brown</p>
			<a href="mailto:ngbrown11@gmail.com">
				<p id="email">ngbrown11@gmail.com</p>
			</a>
		</div>

		<div class="left">
			<div class="progParent"><b>
				<div class="prog" id="java">Java</div>
				<div class="prog" id="python">Python</div>
				<div class="prog" id="html_js">HTML&JS</div>
				<div class="prog" id="sql">SQL</div></b>
			</div>
		</div>

		<div class="right">
			<h4>Objective</h4>
			<p>To take a position in information technology.</p>
			<!--<h4>Experience</h4>
			<p>Junior Developer, Software Company (2010 - Present)</p>
			<ul>
				<li>Designed and implemented end-user features for Flagship Product</li>
				<li>Wrote third-party JavaScript and Ruby libraries</li>
			</ul> -->
			<h4>Skills</h4>
			<p>Languages: Java, Python, JavaScript, SQL</p>
			<!--<p>Frameworks: .NET, Node.js, Django, Ruby on Rails</p>-->
			<h4>Projects</h4>
			<p>Mobile Application, <i>Guess the Number</i></p>
			<ul>
				<li>Designed a mobile application that randomly picks a number between 0-100, and allows the user the guess a number until they are correct.</li>
				<li>Implemented with the Android language</li>
			</ul>
			<h4>Skills</h4>
			<h4>Education</h4>
			<p>BBA, Computer Information Systems, Georgia State University '17</p>
			<ul>
				<li>Dean's list 2 semesters</li>
			</ul>
		</div>

		<div id="footer">
			<p>https://ngbrown11.github.io | Tel: (914) 310-0020</p>
		</div>
	</body>
</html>
